:root{
    --font-color-black:#000;
    --font-color-white:#fff;
    --font-color-lightgray:#9d9d9d;
    
    //background
    --background-color-translate1:rgba(255, 255, 255, 0.12);
    --background-color-gray:#1F1F1F;
    --background-color-black:#000;
    --background-color-translateBlack: rgba(000 , 000, 000, 0.45);
    --background-color-translate:translate;

}


